<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		{{!-- <link rel="stylesheet" href="/assets/css/style.css" type="text/css" /> --}}
		<title>Burger App</title>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery.js"></script>
		<script src="/assets/java/userJava.js"></script>
</head>
<body>
	{{!-- Header --}}
	<nav class="nav navbar justify-content-between bg-light border-bottom border-dark"> 
    	<h2 class="text-center logo-Header text-info pt-3">Eating Healthy Burgers</h2>
		<div>
			<a href = "https://github.com/SunshineDaydeam" target="_blank"><img src="/assets/img/Github-Black.png" class="p-0 img-small"></a>
            <a href = "https://www.linkedin.com/in/alex-bruner-366348155/" target="_blank"><img src="/assets/img/linkedinBlack.png" class="p-0 img-small"></a> 
            <a href = "https://stackoverflow.com/users/9510977/alex-bruner" target="_blank"><img src="/assets/img/StackBlack.png" class="p-0 img-small" ></a>
		</div>
			
	</nav>

	{{!-- BODY for HandlerBars --}}
	{{{ body }}}

</body>

</html>